@import url('blob:https://web.whatsapp.com/b4d34cad-e3a3-4534-8ea3-e884cf04c937');

:root {
    --text-color: #FBFBEF;
    --card-front-color: #b9d48b;
    --card-back-color: #8d2036;
}

body{
    background: url('https://i.pinimg.com/236x/7b/ce/73/7bce73b8decf7a23fd1a60f101e57b6e.jpg');
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}

.cartao{
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    /*background-color: aquamarine;*/
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao__conteudo p{
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}

.cartao__conteudo__pergunta p{
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao.active .cartao__conteudo{
    transform: rotateY(180deg);   
}

.cartao__conteudo__pergunta, 
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
}

.cartao__imagem img {
    width: 30%;
    height: 30%;
    margin-top: 1px;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 1rem;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
